<div id="meal-grid-container" class="d-flex justify-content-between mb-3">
  <div>
    <h1 class="h4 mb-1">Meals</h1>
    <p class="text-muted mb-0">This weeks menu</p>
    <div class="meal-grid d-flex flex-wrap">
      {{#each thisWeekMeals}}
      {{> meal-card}}
      {{/each}}

      {{#unless thisWeekMeals}}
      <p>No recipes found.</p>
      {{/unless}}
    </div>
    <br>
    <p>My favorite meals</p>
    <div class="meal-grid d-flex flex-wrap">
      {{#each favoriteMeals}}
      {{> meal-card}}
      {{/each}}

      {{#unless favoriteMeals}}
      <p>No favorite meals found.</p>
      {{/unless}}
    </div>
  </div>
</div>