<div class="d-flex justify-content-between align-items-end mb-3">
  <div>
    <h1 class="h4 mb-1">Meals</h1>
    <p>My favorite meals</p>
    <div class="meal-grid">
      {{#each favoriteMeals}}
      {{> meal-card}}
      {{/each}}
      {{#unless favoriteMeals}}
      <p>No favorite meals found.</p>
      {{/unless}}
    </div>
    <br>
    <p class="text-muted mb-0">All Meals</p>
    <div class="meal-grid">
      {{#each myMeals}}
      {{> meal-card}}
      {{/each}}
      {{#unless myMeals}}
      <p>No recipes found.</p>
      {{/unless}}
    </div>
  </div>
</div>