header {
    background-color: #faf9f8;
}

footer {
    background-color: #faf9f8;
    
}

header a,
footer a {
    color: #d97800;
    text-decoration: none;
}

.meal-card {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    color: #333;
    min-height: 325px;
}

.meal-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-color: #ddd;
}

.meal-card h3, .meal-card h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 12px 0 4px 0;
    text-align: center;
}

.meal-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0;
}

.meal-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.meal-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 10px;
}

.search-results {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    color: #333;
    min-height: 325px;
    margin-top: 50px;
}
