h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.meal-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-card img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}